#GammaSlider
{
	margin-top: 10px;
}

.DivSceneText
{
	font-size: 1.0em;
	left: 150px;
	position: relative;
	text-align: left;
	top: -485px;
	width: 600px;
}

#DivScene5Text
{
	color: white;
}